<div class="dataTables_wrapper">
  <table id="bookings" class="display table" cellspacing="0" width="100%">
    <thead>
      <caption> Bookings untill today </caption>
        <tr class="text-form text-table">
            <th>#</th>
            <th>CREATED_AT</th>
            <th>NAME</th>
            <th>CHECKIN DATE</th>
            <th>COMPANY</th>
            <th>EMAIL</th>
            <th>CONFIRMATION</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tfoot>
        <tr class="text-form text-table">
          <th>#</th>
          <th>CREATED_AT</th>
          <th>NAME</th>
          <th>CHECKING DATE</th>
          <th>COMPANY</th>
          <th>EMAIL</th>
          <th>CONFIRMATION</th>
          <th>DELETE</th>
        </tr>
    </tfoot>
    <tbody>
      <%= render 'bookings' %>
    </tbody>
  </table>
</div>
