<%= render 'admins/header' %>

<div class="row-buttons">
    <h2 class="page-title page-title-blue">Check in List</h2>
</div>

<div class="booking-table">
    <%= render 'table' %>
    <br>
    <br>

    <div>
        <h2 class="page-title page-title-blue">
            Analyticts
        </h2>
    </div>
    <!-- check chartkick.com to see other possibilities of charts, graphics etc -->

    <%= line_chart Booking.group_by_day(:checkin, format: "%b %d, %Y", library: {yAxis: {allowDecimals: false}}).count %>
    <%= render 'new' %>
</div>
</div>
