<div class="dataTables_wrapper">
    <table id="bookings" class="display table" cellspacing="0" width="100%">
        <thead>
            <tr class="text-form text-table">
                <th>#</th>
                <th>NAME</th>
                <th>LAST CHECKIN</th>
                <th>COMPANY</th>
                <th>EMAIL</th>
            </tr>
        </thead>
        <tfoot>
            <tr class="text-form text-table">
                <th>#</th>
                <th>NAME</th>
                <th>CHECKING DATE</th>
                <th>COMPANY</th>
                <th>EMAIL</th>
            </tr>
        </tfoot>
        <tbody>
            <%= render 'users' %>
        </tbody>
    </table>
    <p class="text-form">
      <%= link_to "DOWNLOAD EXCEL SHEET", admin_users_path(@admin.id, format: "xls"), class: "btn btn-create" %>
    </p>
</div>
