<%= render 'admins/header' %>

  <div class="row-buttons">
  <h2 class="page-title page-title-blue">Guests List</h2>
  </div>

  <div class="booking-table">
    <%= render 'table' %>
    <br />
  </div>
</div>
