<div class="row">
  <div class="col-sm-9 col-md-8 text-block-form">
    <div class="col-sm-1 col-md-1">
    </div>
    <div class="col-sm-11 col-md-11 content-form">
      <div class="main-logo-small main-logo-blue-bg">
        <%= svg 'tq-diamond.svg' %>
      </div>
      <h2 class="page-title page-title-blue">Register<h2>
      <div>
        <%= render "form" %>
      </div>
    </div>

  </div>
  <div class="col-sm-3 col-md-4 image-png image-form">
    <%= image_tag("https://res.cloudinary.com/dq7saz15g/image/upload/v1477645929/coffeeman-cropped_a0miks.png") %>
    <!--coffeeman-cropped.png -->
  </div>
</div>
