<div class="row content-form">
  <div class="col-sm-8 col-md-8">
    <div class="image-logo-small logo-blue-bg">
      <%= svg 'tq-diamond.svg' %>
    </div>
    <div>
    <%= render "form" %>
    </div>
  </div>

  <div class="col-sm-4 col-md-4 image-fake">
    <p>some content</p>
  </div>
</div>
