  <div class="row">
    <div class="col-sm-7 col-md-7 text-block-form">
      <div class="col-sm-1 col-md-1 test">
      </div>
      <div class="col-sm-11 col-md-11 content-form">
        <div class="image-logo-small logo-blue-bg">
          <%= svg 'tq-diamond.svg' %>
        </div>
        <h2 class="page-title page-title-blue">Register<h2>
        <p class="text-form">


        <div>
          <%= render "form" %>
        </div>
      </div>

    </div>
    <div class="col-sm-5 col-md-5 image-fake">
      <p>some content</p>
    </div>
  </div>
</div>
