<div class="row">
  <div class="col-sm-9 col-md-8 text-block-form">
    <div class="col-sm-1 col-md-1">
    </div>
    <div class="col-sm-11 col-md-11 content-form">
      <div class="image-logo-small logo-blue-bg">
        <%= svg 'tq-diamond.svg' %>
      </div>
      <h2 class="page-title page-title-blue">Register<h2>
      <p class="text-form">It's your first time in the building and we're really pleased to have you here. We just need some basic info before we can check you in.</p>
      <div>
        <%= render "form" %>
      </div>
    </div>

  </div>
  <div class="col-sm-3 col-md-4 image-home image-form">
    <%= image_tag("coffeeman-cropped.png") %>
  </div>
</div>
