<% if !alert.nil? %>
<div class="alert">
  <div class="container">
    <h3 class="text-center text-alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <%= alert %>
    </h3>
  </div>
</div>
<% end %>

<% if !notice.nil? %>
<div class="notice">
  <div class="container">
    <h3 class="text-center">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
        </span>
          <small>
            <b><%= notice %></b>
          </small>
    </h3>
  </div>
</div>
<% end %>
