<div class="tag-line">
  <%= @booking.user.full_name %> just checked in at the reception.
</div>

<div class="mail-body">
  <p>Hi There!</p>

  <h2>Heads up!</h2>

  <p><%= @booking.user.full_name %> just checked in at the reception.</p>

  <p>
    <%= link_to 'Check your bookings', admin_bookings_url(@booking.admin), class: "button" %>
  </p>
  <p>Cheers,<br />
  <p>TQ Team</p>
</div>
<img src="https://res.cloudinary.com/dgmqizxd0/image/upload/v1479996039/coffeeman_xceswb.png" class="img-right"/>
