<div class="row">
  <div class="col-sm-7 col-md-7 text-block-home">
    <div class="image-logo-large logo-white-bg">
      <%= svg 'tq-diamond.svg' %>
    </div>

    <h2 class="page-title welcome-title"> Welcome, <br><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %>! </h2>
    <br>
    <p class="text-regular text-welcome">You have been successfully checked in. We hope your host serves coffee ;-)</p>
    <br>
    <br>
    <div>
      <%= link_to "DONE", root_path, class: "btn btn-done" %>
    </div>
  </div>

  <div class="col-sm-5 col-md-5 image-home image-welcome">
    <%= image_tag("blocks.png") %>
  </div>
</div>

<script type="text/javascript">
  window.setTimeout(function() {
      window.location.href = '/';
  }, 10000);
</script>
