<div class="main">
  <div class="main-content-left">
    <div class="main-logo-large main-logo-white-bg">
      <%= svg 'tq-diamond.svg' %>
    </div>

    <div class="text-center">
      <h1>Welcome, <br><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %>!</h1>
      <p class="text-regular">You have been successfully checked in.<br> We hope your host serves coffee ;-)</p>
      <%= link_to "Done", root_path, class: "button button--inverted" %>
    </div>
  </div>

  <div class="main-content-right image-panel image-welcome">
    <%= image_tag("http://res.cloudinary.com/dq7saz15g/image/upload/v1477645929/blocks_efs2bt.png") %>
    <!--01-home.jpg -->
  </div>
</div>

<script type="text/javascript">
  window.setTimeout(function() {
      window.location.href = '/';
  }, 10000);
</script>
