<h1>TQ registration</h1>

  <div class="btn btn-default">
    <%= link_to "It's my first time", new_user_path  %>
  </div>

  <div class="btn btn-default">
    <%= link_to "I have been here before", users_path  %>
  </div>
