
<div class="content">
  <h2 class="page-title">Welcome to TQ!</h2>
  <br>
  <p>TQ is a curated tech space at the heart of Amsterdam founded by The Next Web. We help tech startups reach exponential growth, by providing them with the right talent, tools & training.</p>
  <br>
  <%= link_to "It's my first time", new_user_path, class: "btn btn-default" %>

  <%= link_to "I have been here before", pages_search_users_path, class: "btn btn-default" %>
</div>
