#bookings_length{
  display: none !important;
}
#bookings_filter{
  display: block;
  width: 100%;
  font-size: 20px;
  color: #9999F8;

}

#bookings_filter input[type="search"]{
  margin-top: 20px;
  margin-left: 5px;
  width: 400px;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #9999F8;
  font-family: 'gt-walsheim-regular';
  font-size: 20px;
  color: #0000EE;

  input:focus{
    outline: none;
    outline-style: hidden;
    box-shadow: 0 2px 2px #DDBB88;
  }
}

#bookings_paginate{
  float: right;
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  a{
    width: auto;
    min-width: 50px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid  #9999F8;
    background-color:  #9999F8;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-left: 5px;
    cursor: pointer;
  }a:hover{
    background-color: #DDBB88;
  }
  #bookings_next, #bookings_previous{
    width: 100px;
  }
}
#bookings_info{
  width: 200px;
  display: inline-block;
}

.btn-primary.create {margin-top:10px;}
.table{
  margin-top: 50px;
}

table {
  table-layout: fixed;
}

div.dataTables_wrapper {
        margin-bottom: 3em;
    }
table tbody tr:hover{
  background-color: rgba(212, 212, 212, 0.3);
}
table tbody tr .btn-delete{
  width: 50px;
  height: 25px;
  font-size: 25px;
  padding: 0;
}
table tbody tr .btn-delete:hover{
  color: rgba(245, 18, 18, 0.77);
}
.banner, .header{
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid rgb(39, 29, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  .image-logo{
    margin-left: 0;
  }
}
#chart-1{
  height: 500px !important;
}

#bookings_info {
  color: #9999F8;
  font-family: 'gt-walsheim-regular';
  font-size: 16px;
}
