// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
// PARTIAL NEW

.page-wrapper{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  top:0;
  left: 0;
  padding: 0;
  margin: 0;
  z-index: 1000;
}
 a#new-booking{
   width: auto;
 }
.new-booking{
  display: none;
  width: 100%;
  height: auto;
  position: relative;
  background-color: transparent;
  top:0;
  padding: 0;
  margin: 0;
  z-index: 3000 !important;
}

.new-booking input{
  color: #000;
}
.new-booking .row{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  margin: 0;
  padding: 0;
}


.new-booking .box {
  width: 100%;
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 10%;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 20px 20px 20px;
  min-height:340px;
  box-shadow: 2px 2px 15px rgba(163, 163, 163, 0.5);
  z-index: inherit;
}

.new-booking .box:hover {
  border:2px solid #525C7A;
}
.new-booking .box h1{
  color: black;
}
.new-booking .box span.box-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.new-booking .btn.btn-danger{
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 25px;
  right: 0;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #cf1414;
  background-color: #FFF;
  transition: 0.1s;
}
.btn.btn-danger:hover{
  color: #FFF;
  background-color: #cf1414;
}

.new-booking input{
  padding: 10px;
  border: 1px solid rgb(92, 92, 92);
  border-radius: 8px;
}


.date-picker,
.date-container {
    position: relative;
    display: inline-block;
    width: 100%;
    color: rgb(75, 77, 78);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: inherit;
}

.date-container {
    padding: 0px 40px;
}

.date-picker h2, .date-picker h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.date-container{
    text-align: center;
}
.date-picker span.fa {
    position: absolute;
    cursor: pointer;
}
.date-picker span.fa[data-method="subtract"] {
    left: 0px;
}
.date-picker span.fa[data-method="add"] {
    right: 0px;
}


@media (min-width: 768px) and (max-width: 1010px) {
    .date-picker h2{
        font-size: 1.5em;
        font-weight: 400;
    }
    .date-picker h4 {
        font-size: 1.1em;
    }
    .date-picker span.fa {
        font-size: 3em;
    }
}
