body, html {
  background-color: white;
  color: #0000EE;
  width: 100%;
  height: 100%
}

.content {
  width: 800px;
  height: 200px;
  text-align: center;

  position:absolute; /*it can be fixed too*/
  left:0; right:0;
  top:0; bottom:0;
  margin: auto;

  /*this to solve "the content will not be cut when the window is smaller than the content": */
  max-width:100%;
  max-height:100%;
  overflow:auto;
}

.content-form {
  height: 400px;
}

.btn {
  background-color: #0000EE;
  border-color: #0000EE;
  border-radius: 20px;
  color: #DDBB88;


  a {
    color: #DDBB88;
    text-decoration: none;
  }
}

.btn-default, .btn-default:focus, .btn-default:active, .btn-default:hover {
  background-color: #0000EE;
  border-color: #0000EE;
  text-decoration: none;
}

/* Form for new users */

.form-name {
  display: inline-block;
  width: 100%;
}

.form-group {
  width: 100%;
}
