@font-face {
  font-family: 'gt-walsheim-bold';
  src:url(font-path('gt-walsheim-bold.eot')) format('eot');
  src:url(font-path('gt-walsheim-bold.woff')) format('woff');
}

@font-face {
  font-family: 'gt-walsheim-bold-oblique';
  src:url(font-path('gt-walsheim-bold-oblique.eot')) format('eot');
  src:font-url(font-path('gt-walsheim-bold-oblique.woff')) format('woff');
}

@font-face {
  font-family: 'gt-walsheim-regular';
  src:url(font-path('gt-walsheim-regular.eot')) format('eot');
  src:url(font-path('gt-walsheim-regular.woff')) format('woff');
}

@font-face {
  font-family: 'gt-walsheim-regular-oblique';
  src:url(font-path('gt-walsheim-regular-oblique.eot')) format('eot');
  src:url(font-path('gt-walsheim-regular-oblique.woff')) format('woff');
}

@font-face {
  font-family: 'noe-display-black';
  src:url(font-path('noe-display-black.eot')) format('eot');
  src:url(font-path('noe-display-black.woff')) format('woff');
}


/*GENERAL STYLING*/

* {
  box-sizing: border-box;
  transition: 0.2s;
  overflow: hidden;
}

*:focus {
    outline: none;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'gt-walsheim-regular';
  background-color: #0000EE;
  line-height: 1.5;
}

/* HOME PAGE */

.image-home {
  padding-left: 0px;
  img {
    width: auto;
    float: right;
    height: 100%;
     /*max-height: 768px; /* CUSTOM ACCORDING TO IMAGE PROVIDED */
  }
}

.image-png {
  padding-left: 0px;
  img {
    width: 100%;
    height: auto;
     /*max-height: 768px; /* CUSTOM ACCORDING TO IMAGE PROVIDED */
  }
}

.notice, .alert{
  position: absolute;
  z-index: 1000;
  font-size: 16px;
  width: auto;
  max-width: 300px;
  margin-left: 30%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h3{
    margin: 0;
  }
}
.image-form {
  padding: 0px;
  background-color: #eaeaea;

  img {
    margin-top: 15px;
    margin-left: 15px;
  }
}

.image-welcome {
  padding: 0px;

  img {
    margin-top: 15px;
    padding-top: 150px;
  }
}



.text-block-home {
  text-align: center;
  padding-top: 100px;
  padding-left: 0px;
  padding-right: 0px;

}

.page-title {
  font-family: 'noe-display-black';
  font-size: 50px;
  color: white;
  margin-top: 50px;
}

.text-regular {
  font-size: 18px;
  color: white;
  width: 80%;
  margin: auto;
}

.buttons {
  padding-top: 30px;
}

.btn,
.btn:active,
.btn:hover,
.btn:focus,
.btn:active:hover {
  border-radius: 50px;
  background-color: #DDBB88;
  color: #0000EE;
  font-size: 17px;
  width: auto;
  outline: none;
  height: 50px;
  padding: 12px 25px 10px 25px;
  margin: 0px 5px 0px 5px;
  font-family: 'gt-walsheim-bold';
  letter-spacing: 1px;
}

/* IMAGE LOGO */

.image-logo-small {
  width: 70px;
  height: 70px;
  margin: auto;
}

.image-logo-medium {
  width: 100px;
  height: 100px;
  margin: auto;
}

.image-logo-large {
  width: 120px;
  height: 120px;
  margin: auto;
}

.logo-white-bg {
  .st0{fill:#FFFFFF;}
  .st1{fill:none;}
  .st2{fill:#0000EE;}
}

.logo-blue-bg {
  .st0{fill:#0000EE;}
  .st1{fill:none;}
  .st2{fill:#FFFFFF}
}


/* REGISTER PAGE */

.content-form {
  background-color: white;
  height: 2000px;
  padding: 40px 40px 20px 40px;
}

.page-title-blue {
  color: #0000EE;
  margin-top: 15px;
}

.page-title-smaller {
  font-size: 25px;
}

.text-block-form {
  text-align: center;
  padding-right: 0px;
}

.text-form {
  font-size: 15px;
  padding-bottom: 4px;
  color: #0000EE;
}

.text-bold {
  font-family: 'gt-walsheim-bold';
}

.text-italic {
  font-family: 'gt-walsheim-regular-oblique';
  line-height: 1.5;
}

/* Form for new users */

.form-checkbox {
  display: inline-flex;
}

.text-color {
  color: #9999F8;
  margin-bottom: 0px;
  padding: 2px 0px 0px 0px;
}

html input[type="button"], input[type="reset"], input[type="submit"] {
  /* couldn't rename as btn-create */
  width: 160px;
  height: 60px;
  font-size: 16px;
  border-radius: 50px;
  background-color: blue;
  border-color: blue;
  color: white;
  padding: 10px 25px 10px 25px;
  margin: 0px 5px 0px 50px;
  font-family: 'gt-walsheim-bold';
  border-style: none;
  text-decoration: none;
  float: right;
  letter-spacing: 2px;
  position: absolute;
  right: 40px;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: #0000EE;
  border-color: #0000EE;
  color: white;
  padding: 10px
}


.form-control,
.form-control:focus {
  outline: 0px;
  border: 0px;
  border-bottom: 1px solid #9999F8;
  box-shadow: none !important;
  border-radius: 0px;
  padding: 0px 5px 0px 5px;
  font-size: 20px;
  color: #0000EE;
}

.form-full-name {
  display: inline-flex;
  width: 100%;
}

.text-placeholder {
  color: #9999F8;
  text-align: initial;
  border: 0px;
  padding: 0px 0px 4px 0px;
  margin: 0px;
}

.form-input {
  margin: 5px 10px 30px 10px;
  width: 97%;
  text-align: initial;
}

.glyphicon {
  font-size: 15px;
}

.glyphicon-search, .glyphicon-search:focus {
  color: #0000EE;
  padding-top: 1px /* prevents it of being cropped */

}

#custom-search-input button, button:focus {
  outline: none;
  box-shadow: none;
  text-shadow: none;
  border: none !important;

}

.btn-glyphicon {
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

.error-message {
  font-size: 15px;
  padding-top: 4px;
  color: red;
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.btn-back,
.btn-back:hover,
.btn-back:hover:focus,
.btn-back:active,
.btn-back:focus,
.btn-back:active:hover,
.btn-back:active:focus,
.btn-back:active.focus,
.btn-back.active:hover,
.btn-back.active:focus,
.btn-back.active.focus {

  background-color: transparent;
  border-color: transparent;
  color: #DDBB88;
  padding-left: 0px;
  padding-bottom: 5px;
  border-left-width: 0px;
  text-align: left;
  margin-left: 0px;
  margin-top: 5px;
  font-family: 'gt-walsheim-regular';
  width: 50%;
  text-decoration: none;
}

.btn-back-search {
  position: absolute;
  top: 650px;
}

.row-buttons {
  display: inline-flex;
  width: 100%;
}

/* Welcome page */

.btn-done,
.btn-done:active,
.btn-done:hover,
.btn-done:focus,
.btn-done:active:hover {
  color: white;
  letter-spacing: 2px;
  width: 30%;
  font-family: 'gt-walsheim-regular';
}

.welcome-title {
  line-height: 150%;
}

.text-welcome {
  font-size: 20px;
  padding: 0px 100px 0px 100px;
}

/* Search page */

.search-results {
  height: 238px;
}

.btn-search-results {
  margin: 5px;
}

/* LOGIN ADMIN */

.panel-danger {
  background-color: transparent;
  border-color: transparent;
  font-size: 15px;
}
.panel-danger > .panel-heading {
  background-color: transparent;
  border-color: transparent;

}
.notice h3, .alert h3 {
  font-size: 15px;
  margin-left: 100px;
}

.text-alert {
  color: red;
}

.alert {
  margin: auto;
  text-align: center;
}

/* BOOKING SHOW */
.white-bg {
  background-color: white;
}

.admin-buttons {
  margin-top: 50px;
}

.logo-left {
  margin-left: 0px;
  margin-bottom: 20px;
}

.booking-table {
  overflow-y: scroll;
  height: 520px;
}

.text-table {
  color: #9999F8;
}

.btn-exit {
  width: auto !important;
  color: white !important;
  background-color: blue !important;
  border-color: blue !important;
}
