@font-face {
  font-family: 'gt-walsheim-bold';
  src:url(font-path('gt-walsheim-bold.eot')) format('eot');
  src:url(font-path('gt-walsheim-bold.woff')) format('woff');
}

@font-face {
  font-family: 'gt-walsheim-bold-oblique';
  src:url(font-path('gt-walsheim-bold-oblique.eot')) format('eot');
  src:font-url(font-path('gt-walsheim-bold-oblique.woff')) format('woff');
}

@font-face {
  font-family: 'gt-walsheim-regular';
  src:url(font-path('gt-walsheim-regular.eot')) format('eot');
  src:url(font-path('gt-walsheim-regular.woff')) format('woff');
}

@font-face {
  font-family: 'gt-walsheim-regular-oblique';
  src:url(font-path('gt-walsheim-regular-oblique.eot')) format('eot');
  src:url(font-path('gt-walsheim-regular-oblique.woff')) format('woff');
}

@font-face {
  font-family: 'noe-display-black';
  src:url(font-path('noe-display-black.eot')) format('eot');
  src:url(font-path('noe-display-black.woff')) format('woff');
}


/*GENERAL STYLING*/

* {
  box-sizing: border-box;
  transition: 0.2s;
  overflow: hidden;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'gt-walsheim-regular';
  background-color: #0000EE;
}

/* HOME PAGE */

.image-home {
  padding: 0px;

  img {
    width: 100%;
    height: auto;
    max-height: 768px; /* CUSTOM ACCORDING TO IMAGE PROVIDED */
  }
}

.text-block-home {
  text-align: center;
  padding-top: 100px;
}

.page-title {
  font-family: 'noe-display-black';
  font-size: 50px;
  color: white;
  margin-top: 50px;
}

.text-regular {
  font-size: 18px;
  color: white;
  width: 80%;
  margin: auto;
}

.buttons {
  padding-top: 30px;
}

.btn,
.btn:active,
.btn:hover,
.btn:focus,
.btn:active:hover {
  border-radius: 20px;
  background-color: #DDBB88;
  color: #0000EE;
  font-size: 12px;
  width: auto;
  padding: 10px 25px 10px 25px;
  margin: 0px 5px 0px 5px;
  font-family: 'gt-walsheim-bold';
}

/* IMAGE LOGO */

.image-logo-small {
  width: 70px;
  height: 70px;
  margin: auto;
}

.image-logo-medium {
  width: 100px;
  height: 100px;
  margin: auto;
}

.logo-white-bg {
  .st0{fill:#FFFFFF;}
  .st1{fill:none;}
  .st2{fill:#0000EE;}
}

.logo-blue-bg {
  .st0{fill:#0000EE;}
  .st1{fill:none;}
  .st2{fill:#FFFFFF}
}


/* REGISTER PAGE */

.content-form {
  background-color: white;
  height: 2000px;
  padding: 40px 40px 20px 40px;
}

.page-title-blue {
  color: #0000EE;
  margin-top: 15px;
}

.text-block-form {
  text-align: center;
}

.text-form {
  font-size: 15px;
  padding-bottom: 4px;
}

.text-bold {
  font-family: 'gt-walsheim-bold';
}

.text-italic {
  font-family: 'gt-walsheim-regular-oblique';
}

/* Form for new users */

.form-checkbox {
  display: inline-flex;
}

.text-color {
  color: #9999F8;
  margin-bottom: 0px;
  padding: 2px 0px 0px 0px;
}

html input[type="button"], input[type="reset"], input[type="submit"] {
  /* couldn't rename as btn-create */
  width: 160px;
  height: 60px;
  font-size: 16px;
  border-radius: 50px;
  background-color: #9999F8;
  border-color: #9999F8;
  color: white;
  padding: 10px 25px 10px 25px;
  margin: 0px 5px 0px 50px;
  font-family: 'gt-walsheim-bold';
  border-style: none;
  text-decoration: none;
  float: right;
  position: absolute;
  right: 40px;
}

.form-control,
.form-control:focus {
  outline: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
  box-shadow: none;
  border-radius: 0px;
  padding: 0px 5px 0px 5px;
  font-size: 20px;
}

.form-full-name {
  display: inline-flex;
  width: 100%;
}

.text-placeholder {
  color: #9999F8;
  text-align: initial;
  border: 0px;
  padding: 0px 0px 4px 0px;
  margin: 0px;
}

.form-input {
  margin: 5px 10px 30px 10px;
  width: 97%;
  text-align: initial;
}

.glyphicon {
  font-size: 15px;
}


.btn-back,
.btn-back:hover,
.btn-back:hover:focus,
.btn-back:active,
.btn-back:focus,
.btn-back:active:hover,
.btn-back:active:focus,
.btn-back:active.focus,
.btn-back.active:hover,
.btn-back.active:focus,
.btn-back.active.focus {

  background-color: transparent;
  border-color: transparent;
  color: #DDBB88;
  padding-left: 0px;
  padding-bottom: 5px;
  border-left-width: 0px;
  text-align: left;
  margin-left: 0px;
  margin-top: 5px;
  font-family: 'gt-walsheim-regular';
  width: 50%;
}

.row-buttons {
  display: inline-flex;
  width: 100%;
}






.form-group {
  width: 100%;
}



.input-group {
  width: 100%;
}



.go-back-line {
  text-align: left;
}

.form-errors {
  list-style: none;
  padding: 0px;
}
