<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      body {
        font-family: Helvetica, Arial, sans-serif;
        padding: 0;
        margin: 0;
      }

      .button,
      .button:active,
      .button:hover,
      .button:focus,
      .button:active:hover {
          appearance: none;
          background: blue;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          color: #FFF;
          display: inline-block;
          font-size: 14px;
          height: 40px;
          letter-spacing: 0.1em;
          line-height: 40px;
          margin: auto 20px;
          padding: 0 32px;
          position: relative;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
